h2{
    font-family: 'Reggae One', cursive;

    
}.letsplay{
    font-size: larger;
}
.container1 , .container4,.blackjack-row-2,.blackjack-row-3{
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
   border:5px solid black;
   



}.blackjack-row-2{
    margin: 2px;
    height: 60px;
}
.container4{
    justify-content: space-around;
}.pads{
    padding: 5px;
}
.clickme, .btnbtn-primary
{
    background-color: blue;
    color:cornsilk;
    padding: 10px;
    border-radius: 7px;

    
}
.reset, .btnbtn-danger{
    background-color: red;
    padding:10px;
    color:cornsilk;
    border-radius: 7px;
}.btnbtn-warning{
    background-color:orange;
    padding:10px;
    color:cornsilk;
    border-radius: 7px;

}.btnbtn-success,.cat{
    background-color: green;
    padding:10px;
    color:cornsilk;
    border-radius: 7px;
}
h2{
    text-align: center;
    margin-top: 30px;
    
}
#clickme{
    padding:20px;
    
    
}
#reset{
    padding:20px;
    
  
}
/*challenge 2*/
.container2{
    border:1px,red;
    width:75%;
    margin:0 auto;


}
.catd{
    text-align: center;
    padding:10px;
    
}
.flexbox-container2,.flexbox-container-sps{/*flexbox-container-sps -challenge 3*/
display:flex;
width:75%;
margin:0 auto;
flex-wrap: wrap;
justify-content:space-around;
box-shadow: 0px 10px 50px;

}.flexbox-container2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px;
}

/*Challenge-3 Stone Paper Scissors*/
.flexbox-container-sps img{
    margin:10px;
    
}
.flexbox-container-sps img:hover{
    box-shadow:0px 10px 50px;
    color: darkblue;
}

.blackflex{

width: 49%;
height: 350px;

text-align: center;

margin:5px ;
background-color: darkgreen;
color:aliceblue
}





.blackjack-row-1{
    display:flex;
}table,th,td{
    padding: 5px;
   border: 1px solid black;
}